@import '../../../assets/scss/component.scss';

:host {
  position: relative;
  display: block;
}

.search-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  max-height: 20rem;
  background-color: $white;
  overflow: auto;
}
