/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap.scss';

@import './assets/scss/core.scss';

html,
body,
app-root { height:100%; margin:0; }

body{
  display: flex;
  flex-direction: column;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-content-footer {
  margin-top: auto;
}
