@import '../../assets/scss/component.scss';

.h-header {
  background-color: $cod-gray;
  padding-bottom: 4rem;
}

.h-spotify-logo-box {
  padding: 4rem 0;
}

.h-spotify-logo {
  width: 20rem;
  height: auto;
}
